@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-size: 20px;

  /* Visual Thinking: Primary Colors:
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    */
  --vtDarkBlue: #090940;
  --vtLightBlue: #67c5d1;
  --vtYellow: #feb51e;
  --vtRed: #f96c4f;
  --vtWhite: #ffffff;

  /* Visual Thinking: Primary Colors Lichtere versies, ongeveer 80%, 50%, 30% en 10% opacity van de originele kleuren ^
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    */
  --vtDarkBlue-80: #3a3a66;
  --vtDarkBlue-50: #6b6b8c;
  --vtDarkBlue-30: #9d9db3;
  --vtDarkBlue-10: #ceced9;

  --vtLightBlue-80: #85d1da;
  --vtLightBlue-50: #a4dce3;
  --vtLightBlue-30: #c2e8ed;
  --vtLightBlue-10: #e1f3f6;

  --vtYellow-80: #fec44b;
  --vtYellow-50: #fed378;
  --vtYellow-30: #ffe1a5;
  --vtYellow-10: #fff0d2;

  --vtRed-80: #fa8972;
  --vtRed-50: #fba795;
  --vtRed-30: #fdc4b9;
  --vtRed-10: #fee2dc;

  /* Visual Thinking: Grijstinten:
    Zie kleuren styleguide of eventueel Figma designs voor gebruik!
     Word vaak gebruikt voor backgrounds en borders. 
    */

  --vtGrey-80: #c0beb9;
  --vtGrey-50: #e0dedc;
  --vtGrey-10: #f9f8f8;

  /* Visual Thinking: Secondary colors,
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    Word gebruikt als steunkleuren bv: kleurcoderen van categorieën
    */

  --vtSec-Red: #af1301;
  --vtSec-Red-30: #fbc5b4;
  --vtSec-Green: #169861;
  --vtSec-Green-30: #63c09f;
  --vtSec-LightBlue: #4fbbc2;
  --vtSec-DarkBlue: #31439c;
  /* <--- deze kleur is de blauwe balk van de tekenmethodes detailpagina */
  --vtSec-Brown: #8b3a00;
  --vtSec-Orange: #fe6f07;

  /* Visual Thinking: Fonts,
    */

  --vtPrimaryFont: "rigid-square", sans-serif;
  --vtSecondaryFont: "yrsa", serif;
}


body {
  font-family: var(--vtPrimaryFont);
  align-items: center;
  display: grid;

  background-image: url(/assets/background.svg);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: right top;
}

main {
  margin: 10px 20px;

  display: grid;
  grid:
    "intro" 0.5fr
    "chat" 1fr
    / 1fr;
  gap: 20px;
}


h1 {
  color: var(--vtDarkBlue);
  font-size: 2rem;

  font-weight: 800;

  width: auto;
}

.visual-intro {
  margin-top: 1.5em;

  color: var(--vtDarkBlue);
  font-size: 1rem;
  font-weight: 400;

}


@media (min-width: 68em) {
  body {
    font-family: var(--vtPrimaryFont);
    align-items: center;
    display: grid;
  
    background-image: url(/assets/background.svg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right top;
  }
  
  main {
    margin: 100px 150px;
  
    display: grid;
    grid:
      "intro chat" 1fr
      / 1fr 1fr;
    gap: 200px;
  }

  .visual-thinking-intro {
    grid-area: intro;
  }
  
}


.visual-thinking-intro {
  grid-area: intro;
}

h1 {
  color: var(--vtDarkBlue);
  font-size: 2rem;

  font-weight: 800;

  width: 15em;
}

.visual-intro {
  margin-top: 1.5em;

  color: var(--vtDarkBlue);
  font-size: 1rem;
  font-weight: 400;

  width: 25em;
}

.visual-thinking-chat {
  grid-area: chat;
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: center;
}

.chat-main {
  border: 1px solid;
  border-color: var(--vtGrey-50);
  overflow: hidden;
}

.name {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  padding: 10px 16px;
  color: #7e7e7e;
  background-color: #ebebeb;
}

.name-input {
  font-family: var(--vtPrimaryFont);
  color: var(--vtDarkBlue);
  opacity: 75%;
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;

  flex-grow: 1;
  border: none;
  margin: 0px 15px;
  outline: none;
  background-color: #ebebeb;
}

.message-container {
  display: flex;
  flex-direction: column;
  background-color: var(--vtGrey-10);
  width: 400px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message-left,
.message-right {
  list-style: none;
  padding: 8px 12px;
  margin: 12px;
  max-width: 250px;
  font-size: 18px;
  word-wrap: break-word;
}

.message-left {
  align-self: flex-start;
  color: var(--vtDarkBlue);
  background-color: var(--vtGrey-50);
}

.message-right {
  align-self: flex-end;
  background-color: var(--vtSec-DarkBlue);

  color: #f6f6f6;
}

.message-left > p > span,
.message-right > p > span {
  display: block;
  font-style: italic;
  font-size: 12px;
  margin-top: 4px;
}

.feedback {
  font-family: var(--vtPrimaryFont);
  font-style: italic;
  font-size: 14px;
  padding: 0px 16px 16px 16px;
  color: var(--vtDarkBlue);
  text-align: center;
}

.message-form {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.message-input {
  flex-grow: 1;
  height: 48px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0 12px;
  background-color: var(--vtWhite);
}

.send-button {
  height: 48px;
  border: none;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 800;
  padding: 0px 20px;
  outline: none;
  color: var(--vtWhite);
  background-color: var(--vtSec-DarkBlue);
  cursor: pointer;
}

.v-divider {
  height: 48px;
  width: 2px;
  background-color: var(--vtWhite);
}

.clients-total {
  margin: 0.9em 0;
  color: #3a3a66;
}

