* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 20px;

  /* Visual Thinking: Primary Colors:
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    */
  --vtDarkBlue: #090940;
  --vtLightBlue: #67c5d1;
  --vtYellow: #feb51e;
  --vtRed: #f96c4f;
  --vtWhite: #ffffff;

  /* Visual Thinking: Primary Colors Lichtere versies, ongeveer 80%, 50%, 30% en 10% opacity van de originele kleuren ^
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    */
  --vtDarkBlue-80: #3a3a66;
  --vtDarkBlue-50: #6b6b8c;
  --vtDarkBlue-30: #9d9db3;
  --vtDarkBlue-10: #ceced9;

  --vtLightBlue-80: #85d1da;
  --vtLightBlue-50: #a4dce3;
  --vtLightBlue-30: #c2e8ed;
  --vtLightBlue-10: #e1f3f6;

  --vtYellow-80: #fec44b;
  --vtYellow-50: #fed378;
  --vtYellow-30: #ffe1a5;
  --vtYellow-10: #fff0d2;

  --vtRed-80: #fa8972;
  --vtRed-50: #fba795;
  --vtRed-30: #fdc4b9;
  --vtRed-10: #fee2dc;

  /* Visual Thinking: Grijstinten:
    Zie kleuren styleguide of eventueel Figma designs voor gebruik!
     Word vaak gebruikt voor backgrounds en borders. 
    */

  --vtGrey-80: #c0beb9;
  --vtGrey-50: #e0dedc;
  --vtGrey-10: #f9f8f8;

  /* Visual Thinking: Secondary colors,
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    Word gebruikt als steunkleuren bv: kleurcoderen van categorieën
    */

  --vtSec-Red: #af1301;
  --vtSec-Red-30: #fbc5b4;
  --vtSec-Green: #169861;
  --vtSec-Green-30: #63c09f;
  --vtSec-LightBlue: #4fbbc2;
  --vtSec-DarkBlue: #31439c;
  /* <--- deze kleur is de blauwe balk van de tekenmethodes detailpagina */
  --vtSec-Brown: #8b3a00;
  --vtSec-Orange: #fe6f07;

  /* Visual Thinking: Fonts,
    */

  --vtPrimaryFont: "rigid-square", sans-serif;
  --vtSecondaryFont: "yrsa", serif;
}

body {
  font-family: var(--vtPrimaryFont);
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
}

main {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 20rem;
  height: 30rem;
  /* background: rgb(239, 238, 238); */
  background: var(--vtGrey-10);
  backdrop-filter: blur(1rem);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h1 {
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;

  font-weight: 800;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--vtDarkBlue);
}

section h1 span {
  font-size: 0.5rem;
  display: inline-block;
  width: 4.5rem;
  color: magenta;
  text-transform: lowercase;
}

section ul {
  margin: 0;
  padding: 0.2em;
  list-style-type: none;
  flex-grow: 2;
  width: 18em;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background: transparent;
}

section ul > li {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

section form {
  margin: 0 0 1rem 0;
  padding: 0;
  width: 18rem;
  height: 2rem;
  display: flex;
}

section form input[type="text"] {
  margin: 0;
  padding: 0 1rem;
  border: none;
  height: 2rem;
  flex-grow: 2;
  background: rgb(239, 238, 238);
  box-shadow: inset 0.2rem 0.2rem 0.3rem 0 rgba(209, 205, 199, 0.5);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: 0;
  opacity: 80%;
  outline: none;
}

section form > button {
  padding: 0 0.6rem 0 0.4rem;
  width: 2rem;
  background: rgb(239, 238, 238);
  box-shadow: inset -0.2rem 0.2rem 0.3rem 0 rgba(209, 205, 199, 0.5);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: 0;
  opacity: 80%;
  outline: none;
}

section form > button span {
  display: none;
}

li {
  background-color: var(--vtSec-DarkBlue);
  border-radius: 1em;
  color: var(--vtWhite);

  margin-bottom: 1rem;
}
